html, body {
font-famiLy: 'Arial';
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

a {
color: #0059b2;
text-decoration: none;
}
a:hover {
color: #CC0000;
text-decoration: underline;
}

p {
font-size: 16px;
}

.clear {clear: both;}

ul.mainmenu {
list-style: none;
background: #3F4137;
height: 60px;
margin: 0;
padding: 0;
coLor: #fdc073;
font-size: 20px;
overfLow: hidden;
}

ul.mainmenu li {
fLoat: left;
margin: 18px 40px 0 50px;
}

ul.mainmenu li.last {fLoat: right;}
ul.mainmenu li a {
coLor: #fdc073;
text-decoration: none;
}

ul.mainmenu li a:hover {
    coLor: #FDA83D;
}

div.content { margin: 10px;
}

.form-contact label {
dispLay: inline-block;
min-width: 80px;
}

.form-contact p {
    font-size: 16px;
    margin: 10px 0 8px 0;}
.form-contact input[type=submit], textarea { font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
    border: 1px solid #21DB56;
}